<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="training-program" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Friday - Chest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section class="exercise">
    <div class="sets">
      <span class="heading">Warm Up</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Time</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>

    <div class="sets">
      <span class="heading">Standing EZ Bar Curl</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Weight</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Reps</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">2</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">3</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="sets">
      <span class="heading">Standing EZ Bar Curl</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Weight</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Reps</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">2</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">3</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="sets">
      <span class="heading">Standing EZ Bar Curl</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Weight</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Reps</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">2</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">3</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="sets">
      <span class="heading">Standing EZ Bar Curl</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Weight</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Reps</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">2</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">3</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>

    <div class="sets">
      <span class="heading">Warm Up</span>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <span class="header">Set</span>
          </ion-col>
          <ion-col size="4">
            <span class="header">Time</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="form">
        <ion-row>
          <ion-col size="3">
            <p class="serial">1</p>
          </ion-col>
          <ion-col size="3">
            <input type="number">
          </ion-col>
          <div class="icon">
            <ion-icon color="success" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>
