<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-logo></app-logo>
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-input type="password" placeholder="Old Password" formControlName="old_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="New Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" formControlName="password_confirmation"></ion-input>
      </ion-item>
      <div class="global-center-btn global-margin-top-15">
        <ion-button type="submit" expand="full">RESET PASSWORD</ion-button>
      </div>
    </form>
  </div>
</ion-content>
