<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" text="Login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="global-container">
    <app-logo></app-logo>
    <form [formGroup]="form">
      <div class="global-input global-margin-top-30">
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </div>
      <div class="global-center-btn global-margin-top-15">
        <ion-button type="button" (click)="submit()" expand="full" [disabled]="form.invalid">SUBMIT
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
