<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recommended Food Guide</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header text-capitalize>Proteins</ion-list-header>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> beef, lean ground</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> buffalo</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> chicken breast</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> cottage cheese, low fat</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> crab</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> egg substitutes</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> egg whites</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> haddock</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> ham, lean</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> lobster</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> orange roughy</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> salmon</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> shrimp</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> steak, top round</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> steak, top sirloin</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> swordfish</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> tuna</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> turkey, breast</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> turkey, lean ground</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header text-capitalize>Carbs</ion-list-header>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> apple</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> barley</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> beans</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> bread, whole-wheat</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> brown rice, steamed</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> corn</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> melon</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> oatmeal</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> orange</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> pasta, whole grain</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> potato, baked</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> pumpkin</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> squash</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> strawberries</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> sweet potato</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> wild rice, steamed</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> ram</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> yogurt, fat-free</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> peas</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header text-capitalize>Vegetable</ion-list-header>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> broccoli</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> artichoke</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> asparagus</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> brussel sprouts</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> cabbage</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> carrots</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> cauliflower</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> celery</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> cucumber</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> green beans</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> green peppers</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> lettuce</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> mushrooms</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> onion</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> spinach</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> tomato</ion-item>
    <ion-item lines="none"><ion-icon name="square-outline" slot="start"></ion-icon> zucchini</ion-item>
  </ion-list>
</ion-content>
