<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nutrition Help</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h3>Protein</h3>
  <p>Protein plays a vital roll in any fitness goal.  In this video, we talk about the macronutrient, protein, the food sources where you can find protein, and the importance of having protein in your nutrition plan.</p>
  <iframe src="https://player.vimeo.com/video/308613026" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <h3>Carbs & Fat</h3>
  <p>Do carbs make you gain weight? Does fat makes you fat? In this video, we talk about the macronutrients carbohydrates and fats. These micronutrients are the fuel sources within the body. We discuss food sources where you’ll find either carbohydrates or fats and why you need them.</p>
  <iframe src="https://player.vimeo.com/video/308613006" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <h3>Calories</h3>
  <p>In this video, we talk about calories. What exactly are calories, how many calories make up 1 gram of each macronutrient (protein, carbohydrate, and fat) and ways we burn calories.</p>
  <iframe src="https://player.vimeo.com/video/308613020" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</ion-content>
