<ion-content>
  <div class="buttons" padding>
    <ion-button fill="outline" class="global-margin-top-20" strong="true" expand="full">Log your Workout
    </ion-button>
    <ion-button fill="outline" class="global-margin-top-20" strong="true" expand="full">Log your meals
    </ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="closeLogs()">
      <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
